<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="EvernoteApiSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
        <EvernoteApiSample.Properties.Settings>
            <setting name="ConsumerKey" serializeAs="String">
                <value>key</value>
            </setting>
            <setting name="ConsumerSecret" serializeAs="String">
                <value>secret</value>
            </setting>
        </EvernoteApiSample.Properties.Settings>
    </userSettings>
</configuration>
